@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
textarea,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Noto Sans", sans-serif !important;
  color: #2d2d2d;
  letter-spacing: -0.05em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  background-color: #fff;
  width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: block !important;
  overflow: hidden !important;
  position: absolute !important;
  left: -10000000000000000px !important;
  top: -999999px !important;
  width: 0;
  height: 0;
  font-size: 1px;
}


@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url(../font/NotoSans-Light.eot);
  src: url(../font/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Light.woff) format("woff"), url(../font/NotoSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url(../font/NotoSans-Regular.eot);
  src: url(../font/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Regular.woff) format("woff"), url(../font/NotoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url(../font/NotoSans-Medium.eot);
  src: url(../font/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Medium.woff) format("woff"), url(../font/NotoSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url(../font/NotoSans-Bold.eot);
  src: url(../font/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Bold.woff) format("woff"), url(../font/NotoSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url(../font/NotoSans-Light.eot);
  src: url(../font/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Light.woff) format("woff"), url(../font/NotoSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url(../font/NotoSans-Regular.eot);
  src: url(../font/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Regular.woff) format("woff"), url(../font/NotoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url(../font/NotoSans-Medium.eot);
  src: url(../font/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Medium.woff) format("woff"), url(../font/NotoSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url(../font/NotoSans-Bold.eot);
  src: url(../font/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans-Bold.woff) format("woff"), url(../font/NotoSans-Bold.ttf) format("truetype");
}