/* @charset "utf-8";
@import url('font.css');

/* ****************************************** Reset ****************************************** */
/* :root {
  font-size: 62.5%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*[class]:before,
*[class]:after {
  box-sizing: border-box;
}

*[class]._hidden {
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  outline: 0 !important;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;

}

html {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}


body {

  margin: 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  width: 100%;
  background: #fff;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  color: #666;
}

body,
select,
input,
a,
button,
footer,
h3,
h4,
h5,
h6 {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
input,
select,
textarea,
button {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  background-color: #fff;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.hidden {
  display: block !important;
  overflow: hidden !important;
  position: absolute !important;
  left: -625000000000000rem !important;
  top: -62499.9375rem !important;
  width: 0;
  height: 0;
  font-size: 0.0625rem;
}


/* ****************************************** ui style ****************************************** */
.wrap {
  margin: 0 auto;
  width: 100%;
  display: block;
  box-sizing: content-box;
  position: relative;
  min-height: 100%;
  clear: both;
}

.header {
  position: relative;
}

.headerInner {
  position: relative;
  margin: 0 auto;
  /* height: 130px; */
}

.header .headerInner .logo__usg img {
  vertical-align: middle;
}


.util {
  max-width: 1200px;
  height: 65px;
  line-height: 65px;
  margin: 0 auto;

}

.logo {
  float: left;
}

.util_right {
  float: right;
}

.nav_item li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  color: #004274;
  line-height: 1.5;
  padding: 0;
}

.nav_item li .btn_login {
  position: relative;
}

.nav_item li .btn_login::before,
.nav_item li .btn_join::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
}

.nav_item li .btn_login::before {
  width: 20px;
  height: 20px;
  background: url(../images/ico_login.svg) no-repeat center;
}

.nav_item li .btn_join::before {
  width: 20px;
  height: 20px;
  background: url(../images/ico_user.svg) no-repeat center;
}

.nav_item li.mlf20 {
  margin-left: 20px;
}

.naviWrap nav {
  background-color: #113E62;
}



.w-100 {
  width: 100% !important;
}

.d-block {
  display: block !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.visual {
  position: relative
}

.visual .swiper {
  width: 100%;
  height: 420px;
  background-color: khaki;


}

.visual .swiper-wrapper {}

.visual .swiper-slide {
  height: 420px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 0;
}

.visual .swiper-slide.tp1 {
  background: url("../images/banner_bg01.png") 50% no-repeat;
  background-size: cover;


}

.visual .swiper-slide.tp2 {
  background: url("../images/banner_bg02.png") 50% no-repeat;
  background-size: cover;
}

.visual .swiper-slide.tp3 {
  background: url("../images/banner_bg03.png") 50% no-repeat;
  background-size: cover;
}


.visual .vslCntBox {
  max-width: 1200px;
  padding: 0;
}

.visual .vslCntBox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.visual .vslCntBox h3 {
  font-size: 1.5rem;

  font-weight: 500;
  color: #fff;
  display: block;
}

.visual .vslCntBox h3 p {
  line-height: 27px;
}

.visual .vslCntBox h2 {

  font-size: 52px;
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.visual .vslCntBox .lineTxt {
  position: relative;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 24px
}

/* .visual .vslCntBox .lineTxt span {
  padding-left: 20px;
  line-height: 32px
}
 */

.visual .swiper-pagination {
  color: white;
  line-height: 0;
  bottom: 50px
}

.visual .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 0.2
}

.visual .swiper-pagination-bullet-active {
  width: 48px;
  height: 16px;
  background: #fff;
  opacity: 1;
  border-radius: 15px
}


.visual .vslCntBox .visual_area {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-0%, -50%);
  width: 70%;
}

.img_float {
  float: right;
}



/**********
    ICONS
***********/
.icons {
  display: inline-flex;
  position: relative;
  vertical-align: -6px;
}

.icons:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* .icons.i_visual_prev:before {
  background-image: url('../images/ico_i_center_prev.png');
  width: 24px;
  height: 24px;
}

.icons.i_visual_next:before {
  background-image: url('../images/ico_i_center_next.png');
  width: 24px;
  height: 24px;
} */

.icons.i_play:before {
  background: url('../images/ico_i_play.png') no-repeat 50%;
  width: 24px;
  height: 24px;
}


.icons.i_stop:before {
  background: url('../images/ico_i_stop.png') no-repeat 50%;
  width: 24px;
  height: 24px;
}


/*  /////////////////////////////////////////////////////////////////////////////////////////////////// 
                  강좌소개
 /////////////////////////////////////////////////////////////////////////////////////////////////// */


.bk-slider {
  position: relative;
  width: 90vw;

  height: auto;
  padding: 50px 0 100px;
}

.bk-slider .swiper02 {
  width: 100%;
  height: 200px;
  overflow: visible;

  padding: 0 15% !important;
}

.bk-slider .swiper-slide img {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  height: 150px;
  width: 100%;
}

.bk-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background: white;
  transition: all 0.3s ease;

  height: auto;
}

.bk-slider .swiper-slide.swiper-slide-active {
  color: #fff;
  background: linear-gradient(45deg, #f69259, #f16975);
  transform: scale(1.4);
  z-index: 2;
}

/* ARROWS */
.bk-slider .swiper-button-prev,
.bk-slider .bk-slider .swiper-button-next {
  color: #f69259;
}

.bk-slider .swiper02 .swiper-button-nex {
  left: 86% !important;
}

/* PAGINATION */
.bk-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.bk-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #fff;
  background: linear-gradient(45deg, #f69259, #f16975);
}


/*  /////////////////////////////////////////////////////////////////////////////////////////////////// 
                  Title
 /////////////////////////////////////////////////////////////////////////////////////////////////// */

.title_lg {
  max-width: 1200px;
  display: block;
  font-size: 36px;
  color: #000;
  font-weight: 700;
  position: relative;
}

.title_lg span {
  color: #007AF5;
}

.title_lg::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 314px;
  height: 12px;
  background: url(../images/titleLine_blue.svg) no-repeat center;
}

/*  /////////////////////////////////////////////////////////////////////////////////////////////////// 
                   강좌소개 Area
 /////////////////////////////////////////////////////////////////////////////////////////////////// */

.courseInfo {
  padding: 80px 0;
}

.courseInfo .courseInfoWrap {
  margin: 0 auto;
  display: block;
  position: relative;
}

.courseInfo .txt_total {
  font-size: 18px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  padding: 8px 25px;
  height: 36px;
  background: #007AF5;
  border-radius: 30px;
  position: relative;
}

.courseInfo .txt_total::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 15px;
  background: url(../images/ico_plus.svg) no-repeat center;
  padding-left: 30px;
}

.courseInfo .titWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.courseInfo .titWrap .titArea {
  width: 1200px;
  height: auto;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

/*  /////////////////////////////////////////////////////////////////////////////////////////////////// 
                   수평 tab Area
 /////////////////////////////////////////////////////////////////////////////////////////////////// */
.hori_Tab>input,
.hori_Tab section>div {
  display: none;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab3:checked~section .tab3 {
  display: block;
}

#tab1:checked~nav .tab1,
#tab2:checked~nav .tab2,
#tab3:checked~nav .tab3 {
  color: #222;
}

.hori_Tab {
  width: 100%;
  margin: 0 auto;
  margin-top: 45px;
}

.hori_Tab .tabnaviWrap {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.hori_Tab .tabNavi {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hori_Tab .tabNavi li label {
  float: left;
  padding: 0 25px;
  border: 2px solid #999999;
  background: #fff;
  color: #999;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 24px;
}

.hori_Tab .tabNavi li label:hover {
  background: #007AF5;
  color: #fff;
  border: none;
}

.hori_Tab section {
  clear: both;
}

.hori_Tab section div {
  padding: 20px;
  width: 100%;
  height: 520px;
  border: 1px solid #ddd;
  background: #fff;
  line-height: 24px;
  color: #444;
}

#tab1:checked~nav .tab1 label,
#tab2:checked~nav .tab2 label,
#tab3:checked~nav .tab3 label {
  background: #007AF5;
  color: #fff;
  position: relative;
  border: 0;
}


#tab1:checked~nav .tab1 label:after,
#tab2:checked~nav .tab2 label:after,
#tab3:checked~nav .tab3 label:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 100%;
  background: #ffffff;
  left: 0;
}



/*  /////////////////////////////////////////////////////////////////////////////////////////////////// 
                  교육 과정 소개
 /////////////////////////////////////////////////////////////////////////////////////////////////// */

.trainingWrap {
  max-width: 1200px;
  display: block;
  margin: 0 auto
}

.elementor-wrap {
  width: 100%;
  max-width: 1200px;

}

.elementor-wrap .elementor-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
  gap: 20px;

}

.elementor-wrap .elementor-container .elementor-card {
  display: inline;
  list-style-type: none;
  border: 3px solid #0064BC;
  border-radius: 20px;
  width: 100%;
}

.elementor-wrap .elementor-container .elementor-card a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 60px;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
}

.elementor-wrap .elementor-container .elementor-card a:hover {
  background: #0064BC;
  color: #fff;
  border-radius: 16px;

}

.elementor-wrap .elementor-container .elementor-card a.img01:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%, 50%);

}

.elementor-wrap .elementor-container .elementor-card a.img01:hover::after {
  width: 150px;
  height: 150px;
  background: url(../images/img03.png) no-repeat center 100%;
  background-size: 100% 100%;
}

.elementor-wrap .elementor-container .elementor-card a.img02:hover::after {
  width: 150px;
  height: 150px;
  background: url(../images/img02.png) no-repeat center 100%;
}

.elementor-wrap .elementor-container .elementor-card a.img03:hover::after {
  width: 150px;
  height: 150px;
  background: url(../images/img_banner02.png) no-repeat center 100%;
}

.elementor-wrap .elementor-container .elementor-card a .head_tit {
  font-style: 24px;
  font-weight: 700;
}

.elementor-wrap .elementor-container .elementor-card a img.mt24 {
  margin-top: 24px;
}

.elementor-wrap .elementor-container .elementor-card a .sub_tit {
  font-size: 18px;
  line-height: 26px;
  margin-top: 24px;
  text-align: center;
  word-break: break-word;

}

.elementor-wrap .elementor-container .elementor-card a .sub_tit span {
  display: block;
}

.bg_lightblue {
  background-color: #DEF3FF;
} 



/* vertical tab  */
.flex {
  display: flex;
}

/*subTab01*/

.innWrap {
  height: 100%
}

.subTab01 {
  justify-content: space-between
}

.subTab01 .nav {
  width: 300px;
  margin-right: 60px
}

.subTab01 .nav li {
  width: 100%;
  display: flex;
  margin-bottom: 15px
}

.subTab01 .nav li a {
  width: 100%;
  position: relative;
  display: block;
  height: 78px;
  line-height: 78px;
  text-align: center;
  color: #413a7a;
  font-weight: 600;
  background: #ecebf4;
  border-radius: 8px;
   font-style: 30px;
}

.subTab01 .nav li a.active {
  background: #413a7a;
  color: #fff
}

.subTab01 .nav li div {
  width: 100%;
  display: flex
}

.subTab01 .nav li div:hover>a {
  border: 4px solid #544E91;
  color: #544E91
}

.subTab01 .con {
  flex: 1
}


.lineBox {
  padding: 39px;
  border: 1px solid #DBDBDB;
  border-radius: 8px
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// 
  About 
///////////////////////////////////////////////////////////////////////////////////////////////////  */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* .subBody {
  padding: 1.25rem;
} */

.subcontent .inner {
  max-width: 75rem;
	margin: 0 auto;
}

.subcontent .con-tit {
  padding-bottom: 2rem;
}

.subcontent .section-fir.whiteBg {
  padding-top: 4.0625rem;
}

.subcontent .flex-wrap {
  display: flex;
  justify-content: space-between;
}

.subcontent .flex-wrap .con-tit {
  font-size: 2.5rem;
  color: #222222;
  line-height: 3.5rem;
}

.subcontent .section-fir .con-tit{
  padding: 4.5625rem 0 2rem;
}

.subcontent .section-fir .flex-wrap {
  padding-bottom: 5rem;
}

.subcontent .section-fir .flex-wrap img {
  width: 26.125rem;
  height: 20rem;
}

.subcontent .section-fir.whiteBg .btimg {
  padding-bottom: 5rem;
}

.subcontent .flex-wrap .con-tt {
  font-size: 1.5rem;
  color: #666666;
  line-height: 2rem;
}

.subcontent .con-tt.ttColor {
  color: #222222;
}

.subcontent .con-tt.ttColor span {
  color: #113e62;
  font-weight: bold;
}

.subcontent .grayBg {
  background: #f6f6f6;
}

.subcontent .section-sec .flex-wrap {
  padding: 4.6875rem 0;
  align-items: center;
  text-align: right;
}

.subcontent .section-sec .flex-wrap img {
  width: 26.125rem;
  height: 20.625rem;
}

.subcontent .section-thi {
  padding: 5rem 0 5.1875rem;
}

.subcontent .section-thi img {
  width: 26.125rem;
  height: 16.625rem;
  padding-top: 1.625rem;
}

.subcontent .section-fou {
  padding: 6.9375rem 0;
}

.subcontent .section-fou img {
  width: 26.125rem;
  height: 16.125rem;
}

.subcontent .section-fou .flex-wrap {
  align-items: center;
  text-align: right;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// 
  교육과정 > 플랫폼 비즈니스 
///////////////////////////////////////////////////////////////////////////////////////////////////  */

.subContent .education .secEdu {
  background-image: url(../images/img_platform_02.png), url(../images/img_platform_background.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 76%, center;
  height: 31.25rem;
  display: flex;
  justify-content: center;
}

.subContent .education .secEdu .flex-wrap {
  display: block;
  text-align: center;
}

.subContent .education .secEdu .top-edutit {
  font-size: 2.625rem;
  color: #fff;
  line-height: 3.5rem;
  font-weight: 400;
  padding:3.75rem 0 3rem;
  word-break: keep-all;
}

.subContent .education .secEdu .img-mo-platform {
  display: none;
}

.education .secEdu .top-edutit span {
  font-weight: bold;
}

.subContent .education .edu-tit{
  padding: 4rem 0 3rem;
  font-size: 2.5rem;
  color: #222222;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
}

.education .edu-signature .flex-wrap {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 4rem;
}

.education .edu-signature .flex-wrap .eduBox {
  box-shadow: 2px 2px 10px #00000029;
  border-radius: 16px;
  opacity: 1;
  padding: 0.5rem;
  box-sizing: border-box;
  flex: 1;
}

.education .edu-signature .eduBox .eduList {
  border: 2px solid #1f5ba2;
  border-radius: 12px;
  opacity: 1;
  padding: 1.5rem 0.625rem 2.0625rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
  word-break: keep-all;
}

.edu-signature .eduBox .eduList .list-tit {
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  color: #1f5ba2;
  position: relative;
}

.edu-signature .eduBox .eduList .list-tit::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1.875rem;
  height: 0.125rem;
  background: #1f5ba2;
  bottom: 0;
  left: 9.875rem;
}

.subContent .education .edu-theme {
  background: url(../images/img_theme_background.png) no-repeat center;
  background-size: cover;
  height: 100%;
  padding-bottom: 4rem;
}

.subContent .education .edu-theme .flex-wrap {
  flex-direction: column;
  gap: 1.5rem;
}

.education .edu-theme .flex-wrap .theme-list {
  box-shadow: 0.125rem 0.125rem 0.625rem #00000029;
  border-radius: 1rem;
  opacity: 1;
  background: #fff;
  padding: 0.25rem 0 0.25rem 1.25rem;
}

.education .edu-theme .flex-wrap .themeBox {
  display: flex;
  align-items: center;
}

.education .edu-theme .themeBox .listBox{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  gap: 1.75rem;
}

.education .edu-theme .themeBox .lev-tit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #33a3ff;
  padding-right: 1.875rem;
}

.education .edu-theme .theme-list {
  position: relative;
}

.education .edu-theme .theme-list::after {
  content: '';
  display: inline-block;
  width: 0.125rem;
  height: 3.125rem;
  background: #cccccc;
  position: absolute;
  left: 6.25rem;
  top: 1rem;
}

.education .edu-theme .theme-list:nth-child(4) {
   padding-right: 2.375rem;
}

.education .edu-theme .theme-list:nth-child(4)::after {
  left: 11.5rem;
}
.education .edu-theme .theme-list.caps .lev-tit::after {
  top: 0;
}

.education .edu-theme .themeBox .lev-tit p {
  font-size: 1.25rem;
  height: 1.5rem;
  line-height: 1.625rem;
}

.education .edu-theme .themeBox .lev-tit span {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  line-height: 3rem;
  width: 3.25rem;
}

.education .edu-theme .flex-wrap .theme-list {
  border-left: 1rem solid #c8e4ff;
}

.education .edu-theme .flex-wrap .theme-list:nth-child(2) {
  border-left: 1rem solid #8ec7ff;
}

.education .edu-theme .flex-wrap .theme-list:nth-child(3) {
  border-left: 1rem solid #4ba7ff;
}

.education .edu-theme .flex-wrap .theme-list:nth-child(4) {
  border-left: 1rem solid #0886FF;
}

.education .edu-theme .flex-wrap .theme-list:last-child {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.375rem;
  color: #fff;
  background: transparent linear-gradient(94deg,#3ec4ff 0%,#008da9 100%) 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 10px #00000029;
  border-radius: 1rem;
  opacity: 1;
  padding: 1.3125rem 0;
  text-align: center;
  border-left: none;
  word-break: keep-all;
}

.education .edu-theme .flex-wrap .theme-list:last-child::after {
  display: none;
}

.education .edu-theme .themeBox .listBox li {
  position: relative;
  
}

.education .edu-theme .themeBox .listBox li::before {
  content: '';
  display: inline-block;
  background: url(../images/ico-circle-g.svg);
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 0.2188rem;
  left: -0.75rem;
}

.education .edu-theme .theme-list.caps .lev-tit {
  text-align: left;
  font-weight: bold;
}

.education .edu-theme .theme-list.caps .lev-tit p {
  line-height: 1.625rem;
  font-size: 1.5rem;
}

.education .edu-theme .theme-list.caps .themeBox {
  padding: 12px 0 12px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// 
  교육과정 > 첨단제조업
///////////////////////////////////////////////////////////////////////////////////////////////////  */

.subContent .education .secEdu.bg-manage {
  background-image: url(../images/img_mom_background.png);
}

.subContent .education .secEdu .sub-tit {
  font-size: 1.625rem;
  font-weight: bold;
  color: #fff;
  padding-top: 0.8125rem;
}

.edu-manage .edu-signature .eduBox .eduList {
  padding: 2rem 0.625rem;
  height: 8.25rem;
  justify-content: center;
}

.edu-manage .edu-signature .eduBox .eduList .list-tit::after {
  display: none;
}

.edu-manage .edu-signature .eduBox .eduList .list-tit {
  line-height: 2rem;
}

.edu-manage .edu-theme .flex-wrap .theme-list {
  padding-left: 0.75rem;
  padding-right: 5.8125rem;
}

.edu-manage .edu-theme .themeBox .lev-tit {
  padding-right: 1.375rem;
  align-items: center;
}

.edu-manage .edu-theme .themeBox .listBox.listCol {
  flex-direction: column;
  gap: 0.5rem;
}

.edu-manage .edu-theme .themeBox .listBox.listCol li {
  line-height: 1.1875rem;
}

.edu-manage .edu-theme .theme-list:nth-child(4) {
  padding-right: 1.375rem;
}

.edu-manage .edu-theme .theme-list:nth-child(4)::after {
  left: 6.25rem;
}

.edu-manage .edu-theme .themeBox .listBox {
  align-items: start;
}

.edu-manage .edu-theme .themeBox .listBox.listCol li::before {
  top: 0.3125rem;
}

/* 첨단 제조업 과정 Table Tab */

.edu-manage .descTab .tab-list {
  display: flex;
  gap: 1rem;
  border-bottom: 0.0625rem solid #ddd;
  padding-bottom: 1rem;
}

.edu-manage .descTab .tab-list .tab-button{
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.625rem;
  color: #999999;
  border: 0.125rem solid #999999;
  border-radius: 1.875rem;
  padding: 0.625rem 0.875rem;
  transition: all 0.2s;
}

.edu-manage .descTab .tab-list .tab-button.on {
  background: #007af5;
  color: #fff;
  border-color: #007af5;
}

.edu-manage .descTab .tab-list .tab-button:hover {
  background: #007af5;
  color: #fff;
  border-color: #007af5;
  cursor: pointer;
}

.edu-manage .descTab .tab-content-wrap {
  padding: 2.5rem 0.9375rem 4rem 0.9375rem;
  display: none;
}

.edu-manage .descTab .tab-content-wrap.show {
  display: block;
}

.edu-manage .descTab .tab-content {
  display: flex;
  gap: 2.125rem;
  justify-content: space-between;
  /* word-break: keep-all; */
}

.edu-manage .descTab .tab-content .con-left-wrap {
  display: flex;
  flex-direction: column;
  width: 22.375rem;
}

.edu-manage .descTab .desc-table {
  width: auto;
}

.education .step {
  display: inline-block;
  background: #113e62;
  padding: 0.3125rem 1.0625rem;
  color: #fff;
  border-radius: 1.875rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.1875rem;
}
.edu-manage .descTab .tab-content .top-wrap .step-tit {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.375rem;
  color: #222222;
  margin-bottom: 1rem;
}

.edu-manage .descTab .tab-content .top-wrap .step-txt {
  font-size: 1rem;
  color: #222222;
  line-height: 1.5rem;
}

.edu-manage .descTab .tab-content .bottom-wrap {
  margin-top: 2.5rem;
}

.edu-manage .descTab .tab-content .bottom-wrap .way-tit {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222222;
  line-height: 1.8125rem;
}

.edu-manage .descTab .bottom-wrap .num-wrap {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.edu-manage .descTab .bottom-wrap .num-wrap .num {
  font-size: 1rem;
  font-weight: bold;
  color: #113e62;
  line-height: 1.75rem;
}

.edu-manage .descTab .bottom-wrap .num-wrap .num-txt {
  font-size: 1rem;
  color: #222222;
  line-height: 1.75rem;
}

.edu-manage .desc-table {
  border-bottom: 0.125rem solid #b2ddff;
  border-right: none !important;
  color: #222222;
  text-align: center;
}

.edu-manage .desc-table tr {
  height: 2.3125rem;
  border-bottom: 1px solid #bbbbbb;
}

.edu-manage .desc-table th {
  height: 2.5625rem;
}

.edu-manage .desc-table td {
  font-size: 0.875rem;
}

.edu-manage .desc-table thead tr th {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1875rem;
  color: #222222;
  background: #f5f5f5;
  border-right: 0.0625rem solid #bbbbbb;
  border-bottom: 0.0625rem solid #bbbbbb;
}

.edu-manage .desc-table .tdBlue, .edu-manage .desc-table .tdBlack{
  padding: 0 1.375rem;
  border-right: 1px solid #bbbbbb;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.edu-manage .desc-table .tdBlue {
  color:#00428e;
  border-right: 0.0625rem solid #bbbbbb;
}

.edu-manage .desc-table .tdBlack {
  color: #222222;
  border-right: 0.0625rem solid #bbbbbb;
}

.edu-manage .desc-table .bgBlue {
  background: #D6edff;
  opacity: 1;
  border-right: 0.0625rem solid #bbbbbb;
}

.edu-manage .desc-table .bgOrg {
  background: #fff8e9;
  border-right: 0.0625rem solid #bbbbbb;
}

.edu-manage .desc-table .bgGrn {
  background: #efffe6;
  border-right: 0.0625rem solid #bbbbbb;
}

.edu-manage .desc-table td:last-child {
  border-right: transparent;
  border-left: 0.0625rem solid #bbbbbb;
}

.edu-manage .desc-table th:last-child {
  border-right: transparent;
} 

/* 첨단 제조업 과정 Table Tab eee*/

/* /////////////////////////////////////////////////////////////////////////////////////////////////// 
  교육과정 > 산업디지털트윈
///////////////////////////////////////////////////////////////////////////////////////////////////  */

.subContent .education .secEdu.bg-digital {
  background-image: url(../images/img_digital_background.png);
}

.education .secEdu.bg-digital .sub-tit {
  padding-top: 21px;
}

.education .edu-digital .flex-wrap {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.edu-digital .edu-signature .eduList .list-tit::after {
  display: none;
}

.edu-digital .edu-signature .flex-wrap .eduBox {
  flex: 0 0 32%;
  transition: all 0.3s;
}

.edu-digital .edu-signature .flex-wrap .eduBox:hover  {
  background: #1f5ba2;
  cursor: pointer;
}
.edu-digital .edu-signature .flex-wrap .eduBox.greenBox:hover  {
  background: #0f9b40;
  cursor: pointer;
}

.edu-digital .edu-signature .flex-wrap .eduBox.orgBox:hover  {
  background: #ff8f3c;
  cursor: pointer;
}

.edu-digital .edu-signature .flex-wrap .eduBox:hover .list-tit {
  color: #fff;
}
.edu-digital .edu-signature .flex-wrap .eduBox:hover .eduList {
  border: 2px solid #fff;
}

.edu-digital .edu-signature .flex-wrap .eduList {
  height: 124px;
  padding: 15px;
  justify-content: center;
}

.edu-digital .edu-signature .flex-wrap .list-tit {
  line-height: 32px;
}

.education .edu-signature .eduBox .eduList.greenLine {
  border-color: #0f9b40;
  color: #0f9b40;
}
.education .edu-signature .eduBox .eduList.greenLine li {
  color: #0f9b40;
}
.education .edu-signature .eduBox .eduList.orgLine {
  border-color: #ff8f3c;
}
.education .edu-signature .eduBox .eduList.orgLine li {
  color: #ff8f3c;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// 
  교육과정 > 산업디지털트윈 > 상세페이지
///////////////////////////////////////////////////////////////////////////////////////////////////  */

.edu-digital-details .details-wrap {
  display: flex;
}

.education .edu-digital-details .mobile-sub-menu {
  display: none;
}

.edu-digital-details .details-wrap .menu-list {
  width: 282px;
}

.edu-digital-details .details-wrap .menu-list li {
  border-bottom: 0.0625rem solid #dddddd;
  border-left: 0.0625rem solid #dddddd;
  border-right: 0.0625rem solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0;
}

.edu-digital-details .details-wrap .menu-list li a {
  display: inline-block;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  line-height: 22px;
}

.edu-digital-details .details-wrap .menu-list li:hover {
  background: #d9eeff;
  font-weight: bold;
}

.edu-digital-details .details-wrap .menu-list li:hover > a {
  color: #113e62;
}

.edu-digital-details .details-wrap .menu-list li:first-child {
  height: 77px;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
  color: #113e62;
  display: flex;
  justify-content: center;
}

.edu-digital-details .details-wrap .left-wrap {
  width: 282px;
}

.edu-digital-details .details-wrap .right-wrap {
  padding: 40px 0 0 24px;
  width: 100%;
}

.edu-digital-details .right-wrap .right-tit {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  color: #222222;
  padding-bottom: 8px;
  border-bottom: 0.125rem solid #113e62;
} 

.edu-digital-details .right-wrap .edu-char-wrap {
  margin-top: 40px;
}

.edu-digital-details .right-wrap .con-tit {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #222222;
  padding-bottom: 8px;
  padding-left: 16px;
  border-bottom: 0.0625rem solid #dddddd;
}

.edu-digital-details .right-wrap .edu-char-wrap .char-list {
  padding: 16px 0 40px 24px;
  line-height: 24px;
}

.edu-digital-details .right-wrap .edu-loadmap-wrap .loadmap-list {
  padding: 24px 0 0 16px;
  flex: 1 1 calc(50% - 10px);
  word-break: keep-all;
}

.edu-digital-details .right-wrap .edu-loadmap-wrap .flex-wrap {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}

.edu-digital-details .edu-loadmap-wrap .loadmap-list .stapBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.edu-digital-details .loadmap-list .stapBox .step-tit {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #222222;
}

.education .edu-digital-details .step {
  margin-bottom: 0;
}

.edu-digital-details .loadmap-list .step-txt {
  padding: 16px 0 0 8px;
  line-height: 24px;
}

.edu-digital-details .loadmap-list .step-txt .step-gap {
  padding-left: 10px;
}

.edu-digital-details .loadmap-list .step-tit.step-siz {
  font-size: 18px;
}

.education .edu-manage .edu-desc .edu-tit {
  word-break: keep-all;
}


/*  /////////////////////////////////////////////////////////////////////////////////////////////////// 
반응형
/////////////////////////////////////////////////////////////////////////////////////////////////// */

@media all and (max-width: 1399px) {
  .subContent {
    /* padding: 0 15px !important; */
    padding-top: 25px !important;
    
  }
  .edu-signature  {
    padding: 0 1.25rem;
  }

  .edu-theme {
    padding: 0 1.25rem;
  }
  .edu-desc {
    padding: 0 1.25rem;
  }
  .edu-digital .edu-signature .flex-wrap .eduBox {
    flex: 1 0 48%;
  }
  .edu-digital-details .details-wrap {
    padding: 0 1.25rem;
  }
}
@media all and (max-width: 1250px) {
  .edu-digital .edu-signature .flex-wrap .eduBox {
    flex: 1 0 48%;
  }
  .edu-digital .edu-signature .flex-wrap .eduBox .eduList {
    height: 7rem; 
  }
}


@media all and (max-width: 1230px) {
  .education .edu-signature .eduBox .eduList {
    padding: 1rem 0.625rem 1rem;
    gap: 1.5rem;
    height: 12.25rem;
  }
  .edu-signature .eduBox .eduList .list-tit {
    line-height: 2rem;
  }
  .edu-signature .eduBox .eduList .list-tit::after {
    display: none;
  }
  .subContent .education .edu-theme .flex-wrap {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .education .edu-manage .edu-signature .eduBox .eduList {
    height: 9.25rem;
  }
  .education .edu-manage .edu-theme .themeBox .listBox {
    flex-direction: column;
    gap: 0.3rem;
  }
  .edu-manage .edu-theme .themeBox .listBox.listCol li{
    width: 36.8125rem;
  }
}

@media all and (max-width: 1200px) {
  .visual .vslCntBox .visual_area {
    width: 85%;
  }

  .courseInfo {
    padding: 2.5rem 1.25rem;
  }

  .elementor-wrap .elementor-container .elementor-card a {
    padding: 1.875rem;
  }

  .subContent .education .secEdu .top-edutit {
    font-size: 2.5rem;
  }
  .subcontent .section-fir .flex-wrap, .subcontent .section-sec .flex-wrap, .subcontent .section-thi .flex-wrap, .subcontent .section-fou .flex-wrap {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .subcontent .flex-wrap .con-tit {
    font-size: 2.3rem;
  }

  .subcontent .flex-wrap .con-tt {
    font-size: 1.3rem
  }

}
@media all and (max-width: 1050px) {
  .edu-manage .descTab .tab-content {
    flex-direction: column;
  }
  .edu-manage .descTab .tab-content .con-left-wrap {
    flex-direction: row;
    width: auto;
    gap: 2.5rem;
  }
  .edu-manage .descTab .tab-content .con-left-wrap .top-wrap {
    width: 31.25rem;
  }
  .edu-manage .descTab .tab-content .bottom-wrap {
    margin-top: 0.5rem;
  }
  .edu-digital-details .details-wrap .menu-list {
    display: none;
  }
  .education .edu-digital-details .mobile-sub-menu {
    display: block;
    width: 100%;
    height: 3rem;
    top: 6.5625rem;
    background: #eee;
    border: none;
    border-bottom: 0.0625rem solid #8d8d8d;
    border-top: 0.0625rem solid #8d8d8d;
    cursor: pointer;
    z-index: 10;
    padding: 0 0.9375rem;
    margin-top: 2.8125rem;
  }
  .edu-digital-details .details-wrap {
    flex-direction: column;
  }
  .edu-digital-details .details-wrap .right-wrap {
    padding: 0.9375rem 0 2.5rem 0;
  }
}
@media all and (max-width: 999px) {
  .education .edu-signature .flex-wrap {
    flex-direction: column;
  }
  .education .edu-signature .eduBox .eduList {
    height: auto;
    gap: 1.1rem;
  }
  .education .edu-theme .themeBox .listBox {
    flex-direction: column;
    gap: 0.3rem;
    align-items: start;
  }
  .education .edu-theme .theme-list.caps .listBox li {
    width: 25rem;
  }
  .education .edu-manage .edu-signature .flex-wrap {
    flex-direction: row;
  }
}

@media all and (max-width: 915px) {
  .edu-manage .edu-theme .themeBox .listBox.listCol li{
    width: 31.25rem;
  }
  .education .edu-theme .theme-list::after  {
    display: none;
  }
  .education .edu-theme .themeBox .listBox{
    padding-left: 0.625rem;
  }
}

@media all and (max-width: 900px) {
  .visual .swiper {
    height: auto;
  }

  .visual .vslCntBox {
    width: 100%;
    flex-direction: column;
  }
  
  .visual .vslCntBox {
    top: 0;
    left: 50%;
    transform: translate(-50%, -0%);
  }
  
  .visual .vslCntBox .visual_area {
    width: 90%;
    left: 0;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 0;
  }
  
  .visual .swiper-slide {
    padding: 1.25rem;
  }

  .elementor-wrap .elementor-container {
    flex-wrap: wrap;
  }

  .elementor-wrap .elementor-container .elementor-card a .sub_tit span {
    display: inline-block;
  }
  .subcontent .section-fir .flex-wrap, .subcontent .section-sec .flex-wrap, .subcontent .section-thi .flex-wrap, .subcontent .section-fou .flex-wrap {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    text-align: center;
  }

  .subcontent .section-sec .flex-wrap, .subcontent .section-fou .flex-wrap {
    flex-direction: column-reverse;
  }
  .subcontent .flex-wrap .con-tt, .subcontent .section-sec .flex-wrap {
    font-size: 1.5rem;
  }
  .subContent .education .secEdu {
    background-image: url(../images/img_platform_background.png);
  }

  .subContent .education .secEdu .img-platform {
    display: none;
  }
  .subContent .education .secEdu .img-mo-platform {
    display: inline-block;
  }
  .subContent .education .secEdu .top-edutit {
    padding-bottom: 0.625rem;
    padding-top: 1.875rem;
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .subContent .education .edu-tit {
    font-size: 2.3rem;
  }
  .education .edu-theme .theme-list.caps .themeBox {
    padding: 0.75rem 0 0.75rem;
  }
  .subContent .education .secEdu.bg-manage .flex-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
  }
  .subContent .education .secEdu.bg-manage .flex-wrap .top-edutit {
    font-size: 2rem;
  }
  .edu-manage .descTab .tab-content .con-left-wrap {
    flex-direction: column;
  }
  .education .edu-theme .flex-wrap .theme-list:last-child {
    font-size: 1.3rem;
  }
  .education .edu-digital .secEdu .flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
  }
}

@media all and (max-width: 870px) {
  .education .edu-manage .edu-theme .flex-wrap .themeBox {
    display: block;
  }
  .education .edu-manage .edu-theme .themeBox .lev-tit {
    flex-direction: row;
    justify-content: start;
    padding-bottom: 0.3125rem;
  }
  .education .edu-manage .edu-theme .themeBox .lev-tit span  {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 2.5rem;
  }
  .education .edu-manage .edu-theme .themeBox .listBox {
    padding-bottom: 0.625rem;
  }
  .edu-manage .edu-theme .themeBox .listBox.listCol li {
    width: auto;
  }
  .subContent .edu-manage .education .edu-theme {
    background: none;
  }
  .education .edu-manage .edu-desc .edu-tit.height {
    margin-top: 2.875rem;
  }
  .education .subcontent.edu-manage .edu-theme {
    /* background: none; */
  }
}

@media all and (max-width: 800px) {
  .edu-manage .desc-table .con-pading {
    padding: 0.125rem;
    word-break: keep-all;
  }
}


@media all and (max-width: 740px) {
  .education .edu-theme .theme-list.caps .listBox li {
    width: 16.5rem;
  }
  .education .edu-manage .edu-signature .list-tit {
    font-size: 1.2rem;
  }
  .education .edu-theme .flex-wrap .theme-list:last-child {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 700px) {
  .edu-manage .descTab .tab-list {
    flex-wrap: wrap;
  }
  .edu-manage .descTab .tab-list li {
    width: calc(48% - 0.625rem);
    text-align: center;
  }
  .edu-digital-details .right-wrap .edu-loadmap-wrap .loadmap-list {
    flex: auto;
  }
}


@media all and (max-width: 600px) {
  .visual .vslCntBox {
    padding: 0 1.25rem;
  }

  .visual .vslCntBox .visual_area {
    width: 100%;
  }
  
  .hori_Tab .tabNavi li label {
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
  }
  .education .edu-signature .flex-wrap {
    flex-direction: column;
  }

  .subcontent .flex-wrap .con-tit {
    font-size: 2.1rem;
  }
  .subcontent .flex-wrap .con-tt {
    font-size: 1.1rem;
  }
  .subcontent .section-sec .flex-wrap .con-tit, .subcontent .section-thi .flex-wrap .con-tit {
    line-height: 3rem;
  }
  
  .subContent .education .secEdu .top-edutit {
    font-size: 2rem;
  }
  .education .edu-theme .themeBox .listBox {
    font-size: 0.9rem;
  }
  .education .edu-theme .flex-wrap .theme-list:last-child {
    font-size: 1.8rem;
  }
  .education .edu-theme .theme-list.caps .lev-tit {
    padding-right: 2rem;
    display: inline;
    padding-bottom: 0.625rem;
  }
  .education .edu-theme .flex-wrap .theme-list:nth-child(4) .themeBox {
    display: block;
  }
  .education .edu-theme .flex-wrap .theme-list:nth-child(4)::after {
    display: none;
  }
  .education .edu-theme .theme-list.caps .lev-tit p {
    display: inline;
  }
  .education .edu-theme .theme-list.caps .listBox {
    padding-left: 0.9375rem;
    padding-top: 0.3125rem;
  }
  .education .edu-theme .theme-list.caps .listBox li {
    width: auto;
  }
  .education .edu-manage .edu-signature .flex-wrap {
    flex-direction: column;
  }
  .education .edu-manage .edu-signature .flex-wrap .eduList {
    height: auto;
  }
  .subContent .education .secEdu.bg-manage .flex-wrap .top-edutit {
    font-size: 1.7rem;
    line-height: 2.375rem;
    word-break: keep-all;
  }
  .subContent .education .secEdu.bg-manage .flex-wrap {
    padding: 0.625rem;
  }
  .education .edu-theme .flex-wrap .theme-list:last-child {
    font-size: 1.1rem;
  }
  .education .edu-manage .edu-theme .flex-wrap .theme-list:nth-child(4) .themeBox {
    display: block;
  }
  .subContent .education .edu-platform .secEdu .flex-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subContent .education .edu-platform .secEdu .flex-wrap img {
    width: 75%;
  }
}

@media all and (max-width: 520px) {
  .education .edu-theme .flex-wrap .theme-list {
    padding: 1rem 1rem 1rem 1.25rem;
  }
  .education .edu-theme .theme-list::after {
    top: 1.5rem;
    height: 3.5rem;
  }
  .education .edu-theme .themeBox .listBox {
    padding-left: 2rem;
  }
  .education .edu-theme .flex-wrap .theme-list:nth-child(4) {
    padding: 0.6rem 1rem 0.6rem 1.25rem;
  }
  .education .edu-theme .flex-wrap .theme-list:last-child {
    font-size: 1rem;
  }
  .education .edu-manage .edu-desc .edu-tit.height {
    /* margin-top: 15rem; */
  }
  .edu-manage .descTab .tab-content .con-left-wrap .top-wrap {
    width: auto;
  }
  .education .edu-platform .edu-theme .themeBox .lev-tit {
    padding-right: 0;
  }
  .subContent .education .secEdu .sub-tit {
    font-size: 1.3rem;
  }
  .subContent .education .secEdu .flex-wrap .top-edutit {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  
}
@media all and (max-width: 460px) {
  .education .edu-theme .flex-wrap .theme-list{
    padding: 1rem 1rem 1rem 1.25rem;
  }
  .education .edu-theme .flex-wrap .theme-list:last-child {
    height: auto;
  }
  .education .edu-theme .flex-wrap .theme-list:last-child {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 443px) {
  .edu-manage .descTab .tab-list .tab-button {
    font-size: 1rem;
  }  
}
